@inherits LayoutComponentBase

<div class="page">
    <div class=" container flex-fill">  
     @*    I took away container *@
        <NavMenu />
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
        <footer class="text-center mt-auto">
            &copy; minimini 2024
        </footer>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
