<div class="container justify-content-center align-items-center d-flex ">
    <div class="row">
        <div class="col-lg-12">
        <div class="card mt-5 shadow" style="width: 18rem;">
    <img [src]="image" class="card-img-top" alt="image"  (error)="onImageError($event)" >
    <div class="card-body text-left">
        <table class="table">
           <tr>
            <th scope="row">Titel</th>
            <td>{{book.title}}</td>
           </tr>
           <tr>
            <th scope="row">Author</th>
            <td>{{book.author}}</td>
           </tr>
           <tr>
            <th scope="row">Genre</th>
            <td>{{book.genre}}</td>
           </tr>
           <tr>
            <th scope="row">Published</th>
            <td>{{book.publishedYear}}</td>
           </tr>
           <tr>
            <th scope="row">Description</th>
            <td>{{book.description}}</td>
           </tr>
        </table>
    </div>
  </div>
</div>
</div>
</div>
<a routerLink="/booklist" class="btn btn-outline-dark mb-5"><i class="fa-solid fa-arrow-left-long me-2"></i>go back to list</a>