@page "/"

<PageTitle>Home</PageTitle>

<div class="d-flex mt-5 h-100 mb-5">
    <div class="w-50 bg-light d-flex justify-content-center align-items-center">
        <Carousel></Carousel>
    </div>
    <div class="w-50 bg-dark text-white d-flex justify-content-center align-items-center">
        <h1>Welcome to minimini library</h1>
    </div>
</div>
@code {

}
