<div class="container d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <button class="btn btn-lg btn-dark mt-3 text-end">
      Create New Post
    </button>
  
    <div class="mh-500px w-100 overflow-auto d-inline-block mt-5 shadow">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">Published</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let book of books; index as i">
          <th scope="row">{{ book.id }}</th>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.publishedYear }}</td>
          <td>
            <button class="btn btn-lg btn-outline-danger" (click)="getsingelbook(book.id)">
                <i class="fa-solid fa-magnifying-glass-plus"></i>
                Show Details
              </button>
            <button class="btn btn-lg btn-outline-dark me-3">
              <i class="fa-solid fa-arrows-rotate"></i>
              Update
            </button>
            <button class="btn btn-lg btn-outline-danger">
              <i class="fa-solid fa-trash-can"></i>
              Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>