<div class="container bg-white">
    <div class="row vh-100 align-items-center">
        <div class="col-lg-5 offset-lg-3 col-md-6 offset-md-2 col-10 offset-1 ">
            <div class="rounded-4 border-0 shadow-lg bg-danger-subtle" style="min-height: 450px;">
                <div class="d-flex justify-content-start align-items-center ">
                    <div class="p-4 w-100">
                        <app-edit></app-edit>
                        @if(isEdit){
                            <app-register  *ngIf="isEdit"></app-register>
                        }else
                        
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>